@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1E1E1E;
  --background: #FAFAFA;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
}

.main {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

a {
  color: purple;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: blue;
  transition: ease-in-out 0.3s;
}
